/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
    /*text-shadow: 1px 3px 20px black;*/
  
  }
  
  body {
    /*width: 70%;*/
    min-width: 800px;
    margin: 0 auto;
    /*background-color: #97679C;*/
    background-image: linear-gradient(0deg, #a89cab, transparent 50%);

  }

  .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
  }
  
  .container {
    min-height: 100%;
  }
  
  /* || typography */
  
  h1, h2, h3, a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #f5f5f5;
    text-align: center;
    text-shadow: 0px 0px 20px black;
  }
  
  p, input, li, a {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    /* color : #f5f5f5; temporary */
  }
  
  h1 {
    font-size: 4rem;
    /*text-align: center;*/
    font-weight: 400;
    color: #ffffff;
  }
  
  h2 {
    font-size: 5rem;
    /*text-align: center;*/
    font-weight: 600;
    color: #000000;
  }
  
  h3 {
    font-size: 3rem;
    color: #ffffff;
  }
  
  p, li, a {
    font-size: 1.6rem;
    line-height: 1.5;
  }

  p {
    font-size: 3rem;
    /* text-shadow: none; */
  }
  
  /* || header layout */
  
  .header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /*justify-content: center;*/
    justify-content: space-around;
  }

  .header .logo h1 {
    width: 450px;
  }

  .logo {
    display: flex;
  }
  
  body > * {
    padding: 1%;
  }
  
  .main, .header, nav, .article, .section, .footer, section {
    background-color: transparent
    /* padding: 1%; */
  }

  .header, .footer {
    background-color: #49384D;
  }

  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  .header h1 {
    margin: 10px;
    max-width: 450px;
  }

  .header img {
    display: block;
    justify-content: left;
    height: 120px;
    /*padding-top: 20.15px;*/
    margin: 10px;
  }
  
  nav {
    /*height: 100px;
    flex: 50%;*/
    display: flex;
    justify-content: center;
    width: 50%;
  }
  
  /*nav ul {
    list-style-type: none;
    flex: 2;
    display: flex;
  }
  
  nav li {
    display: inline;
    text-align: center;
    flex: 1;
    padding-top: 25px;
    background-color: #A89CAB;
  }*/
  
  nav a {
    display: inline-block;
    font-size: 2.5rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: lowercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /*background-color: #A89CAB;*/
    text-align: center;
    padding: 25px;
    width: inherit;
    background-image: linear-gradient(45deg, #a89cab, white 200%);
  }

  nav a:hover {
    background-image: linear-gradient(45deg, white, #a89cab 200%);
    background-color: #e3d4e7;
    color: #49384D;
  }

  nav a.active {
    background-image: linear-gradient(45deg, #6d666e, white 400%);
    background-color: #6d666e;
    color: white;
  }
  
  /* || main layout */
  
  .main {
    display: flex;
    flex-flow: column wrap;
  }

  .budget-total {
    text-align: center;
  }

  .payee-section {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-around;
    padding: 0px 25px;
  }

  .payee-list {
    background-color: #A89CAB;
    background-image: linear-gradient(45deg, #a89cab, white 200%);
    margin-top: 50px;
    padding: inherit;
    box-shadow: 0px 0px 20px 0px black;
  }

  .payee-list h3 {
    margin-bottom: auto;
  }

  .payee-list ul {
    padding: 0;
  }

  .payee-list li {
    font-size: 2.2rem;
    list-style-type: none;
    font-weight: bold;
    color: rgb(88, 88, 88);
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 6px;
    text-shadow: none;
  }

  .payee-list li:hover {
    color: white;
  }

  .payee-display {
    width: 50%;
  }

  .payee-display h2 {
    font-size: 3.5rem;
  }
  
  .article {
    flex: 4;
  }

  .section {
    flex: 4;
    /*background-color: #49384D;*/
    background-color: #A89CAB;
    border-top-left-radius: 27px;
    border-bottom-right-radius: 27px;
  }
  
  /*.section {
    display: block;
    flex-flow: row-wrap;
    flex: 2;
  }*/
  
  .section a {
    display: inline-block;
    flex-basis: 50%;
    color:white;
  }
  
  .section img {
    width: 100%;
    height: auto;
  }
  
  .footer {
    margin-top: 10px;
    left: 0;
    bottom: 0
  }

  .footer p {
    color:white;
    font-size: 1.6rem;
  }

  #chartContainer, #payeeChartContainer {
    background: rgb(190, 171, 149);
    border: 2px dotted black;
    border-radius: 4px;
    height: 500px;
    width: 100%;
    margin-bottom: 15px;
}

  @media screen and (max-width: 1200px) {
    .container {
      justify-content: center;
    }

    .payee-section {
      flex-flow: column;
      align-items: center;
    }

    .payee-display {
      width: 100%;
    }
  
    .one {
      display: flex;
  
      flex-direction: row;
  
      flex-wrap: wrap;
  
      flex: 1 0 auto;
  
      justify-content: space-evenly;
  
      align-items: center;
  
      margin: 0;
  
      margin-bottom: 15px;
    }
  
    .one p {
        margin: 15px 0 0 0;
    }
  }